version: 2
updates:
	- package-ecosystem: 'npm'
	  directory: '/'
	  schedule:
	  	interval: 'weekly'
	  	day: 'monday'
	  	time: '09:00'
	  	timezone: 'Australia/Sydney'
	  open-pull-requests-limit: 5
	  labels:
	  	- 'dependencies'
	  	- 'automated'
	  commit-message:
	  	prefix: 'chore'
	  	include: 'scope'
	  # Group development dependencies together for cleaner PRs
	  groups:
	  	dev-dependencies:
	  		dependency-type: 'development'
	  		update-types:
	  			- 'minor'
	  			- 'patch'
